<% if( messages.length > 0 ) { %>
    <% messages.forEach( message => { %>
        <li class="u-full-width"> <span><%= message.email %></span> <span><i>[<%= message.date %>]</i></span>: <span><b><%= message.msg %></b></li></span>
    <% }); %>
<% } %>