<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos EJS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
</head>

<body>

    <h5>View Engine: EJS</h5>

    <button class="button"><a href="/">Menú Principal</a></button>

    <h4>Lista de Productos</h4>


    <% if(prodFound){ %>
        <table class="eight columns">
            <tr>
                <th>ID</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Imagen</th>
            </tr>
            <tbody>
                <% productsList.forEach( product => { %>
                    <tr>
                        <th><%= product.id %></th>
                        <th><%= product.title %></th>
                        <th><%= product.price %></th>
                        <th><img src="<%= product.thumbnail %>" alt=""></th>
                    </tr>
                <% }); %>    
            </tbody>

        </table>
    <% } else { %>
        <h2>No hay productos</h2>  
    <% } %>

    
</body>
</html>